@charset "UTF-8";
/* CSS Document */

* {
	
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-family: verdana;
}

.list {
  float: right;
  width: 39.9%;
 margin: 0 auto;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.video {
	width: 100%;
	margin: 0 auto;
	background-color: navy;
	padding: 20px;
	align-content: center;


}

.video iframe{
	width: 75%;
	height: 500px;
	margin: 0 auto;
	background-color: navy;
	padding: 20px;
	align-content: center;


}






