@charset "UTF-8";
/* CSS Document */

form {
	margin: 20px 50px;
	
}

fieldset {
	padding: 20px;
	background-color: navy;
	color: white;
	font-size: 20px;
}

legend { 
	color: black;
	font-size: 20px;
}